body{
    background-color:hsl(293, 100%, 94%);  
}

h1{
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 3cm;
    background-color: blueviolet;
    color:aliceblue
}

img{
    float: right;
    font: size 2cm;
}

h2{
    display: block;
    font-size: 1cm;
    color: black;
    background-color: hsl(298, 75%, 49%);
    width: 20cm;
}

h3{
    color: black;
    text-align: center;
    font-size: 1cm;
}

a{
    text-decoration: none;
    font-size: 1cm;
    color: hsl(291, 100%, 18%);
}
